:root {
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --main-background: hsl(218, 28%, 13%);
    --testimonials-background: hsl(219, 30%, 18%);
    --red: hsl(0, 100%, 63%);
    --footer-background: hsl(216, 53%, 9%);
    --sign-up-background: hsl(217, 28%, 15%);
}